
    <%- include('templates/header',{
        title:'Bienvenido a...',
        descripcion:'Esta es le descripción del index'
    })%>

    <main class="my-5 container">

        <h1><%=titulo%></h1>    
        <p><%= descripcion %>  </p>
    </main>

    <%- include('templates/footer')  %> 
